/* Estilos para el componente de animación */
.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según sea necesario */
}

.words {
  display: flex;
  align-items: center;
}

.word1,
.word2,
.falling-word {
  padding: 10px;
  font-size: 24px;
}

.word1 {
  margin-right: 10px;
}

.word2 {
  margin-left: 10px;
}

.falling-word {
  transform: translateY(-50%);
}
